In [1]:
import pandas as pd
import ast

In [2]:
df = pd.read_csv("sample.csv").sample(100)

In [3]:
df.head(3)

,accommodation_id,review_item,user_items
646,-159053808,"{'9cac87ca-46af-4b8c-85c6-7e44569b63a4': [nan,...",{'06cfa4c4-8c0f-487c-b1ea-315d9defbfa7': ['Nuk...
236,665464217,"{'45236732-c94a-473a-bd66-6c3c06cdebd8': [nan,...",{'eb1aac97-dac1-49d6-9b5a-f551f426ca42': ['Zuc...
8906,-2139443913,{'e0215471-b36c-437a-8b20-76a3ea6dfe34': ['Did...,{'34d9e55f-67ad-4f9d-bb0c-e8dd04cc8946': ['Cej...

In [7]:
'''import pandas as pd
import numpy as np
import ast

# Load the CSV file into a DataFrame
df = pd.read_csv('sample.csv')

# Initialize an empty dictionary to store the results
parsed_result = {}

# Process each row in the DataFrame
for _, row in df.iterrows():
    review_item_str = row['review_item']
    
    # Replace 'nan' with 'None' for proper parsing
    review_item_str = review_item_str.replace('nan', 'None')

    # Safely parse the dictionary in the 'review_item' column
    try:
        review_item = ast.literal_eval(review_item_str)
    except (ValueError, SyntaxError) as e:
        print(f"Error parsing dictionary for row: {row}. Error: {e}")
        continue

    # Extract each key-value pair from the dictionary
    for key, value in review_item.items():
        # Convert 'None' to np.nan
        parsed_result[key] = [np.nan if v is None else v for v in value]

# print(parsed_result)

# Optionally, save the result to a new CSV file
# Convert the dictionary to a DataFrame
result_df = pd.DataFrame(list(parsed_result.items()), columns=['key', 'value'])
result_df.to_csv('D:\Sajib\Ractour_project\parsed_result.csv', index=False)
print(result_df.value)'''

'import pandas as pd\nimport numpy as np\nimport ast\n\n# Load the CSV file into a DataFrame\ndf = pd.read_csv(\'sample.csv\')\n\n# Initialize an empty dictionary to store the results\nparsed_result = {}\n\n# Process each row in the DataFrame\nfor _, row in df.iterrows():\n    review_item_str = row[\'review_item\']\n    \n    # Replace \'nan\' with \'None\' for proper parsing\n    review_item_str = review_item_str.replace(\'nan\', \'None\')\n\n    # Safely parse the dictionary in the \'review_item\' column\n    try:\n        review_item = ast.literal_eval(review_item_str)\n    except (ValueError, SyntaxError) as e:\n        print(f"Error parsing dictionary for row: {row}. Error: {e}")\n        continue\n\n    # Extract each key-value pair from the dictionary\n    for key, value in review_item.items():\n        # Convert \'None\' to np.nan\n        parsed_result[key] = [np.nan if v is None else v for v in value]\n\n# print(parsed_result)\n\n# Optionally, save the result to a new CSV file\n# Convert the dictionary to a DataFrame\nresult_df = pd.DataFrame(list(parsed_result.items()), columns=[\'key\', \'value\'])\nresult_df.to_csv(\'D:\\Sajib\\Ractour_project\\parsed_result.csv\', index=False)\nprint(result_df.value)'

In [6]:
df= pd.read_csv("parsed_result.csv")
df.head()

,key,value
0,cb54d0aa-6eaa-429c-82a4-f46493431482,"[nan, 1]"
1,f031c780-c500-4379-a69f-c0f47fdeaf81,"[nan, 0]"
2,71779ee4-1ee7-4976-ade9-7f8c85a3c486,"['Voortreffelijk', 0]"
3,0a7746ec-dcb9-4ff9-aacd-3153f8d7cd72,"['Cosy overnight stay with great breakfast', 0]"
4,c45daee9-a4f0-4dbb-a5b0-2eb2c7c58770,"['Excellent stay', 0]"